.carousel-inner{
	background-color: rgb(255,254,231);
}
.item {
    height: 360px;
    overflow: hidden;
}

.item img {
	display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.carousel-control {
	text-decoration: none;
}