
@media screen {
  	footer {
  		float: left;
		background-color: #004D83;
		height: 150px;
		width: 100%;
	}

	.cincuenta {
		float: left;
		width: 158px;
		margin-left: 4px;
	}

	.contenedorSubMenuFooter{
		height: auto;
		width: 105px;
		margin-left: 15px;
	}

	.contenedorSubMenuFooter a{
		text-transform: none;
		color: white;
	}

	.contenedorSubMenuFooter a:hover{
		color: #858484;
	}

	.guionFooter{
		width: 8px;
		height: auto;
		float: left;
	}

	.menuFooter{
		height: 140px;
		width: 120px;
		margin-top:5px;
		margin-left:10px;
		float: left;  
	}

	.tituloSubMenuFooter{
		width: 96px;
		float: left;
		height: auto;
	}

	#contactosFooter{
		width: 100%;
		height: 100px;
	}

	.desarrolladoPorFooter{
		width: 100%;
		height: 47px;
		border-top: 3px solid #858484;
	}

	.desarrolladoPorFooter div{
		color: #858484;
		text-align: center;
		font-family: Asap;
		font-size: 18px;
		margin-top: 2px;
	}
	
	#logos_redes {
		float: left;
		height: 100%;
		width: 324px;
	}

	#mapa_sitio {
		color: white;
		float: left;
		width: 700px;		
		font-family: Asap;
		font-size: 15px;
	}
/*
	#textGrandeContactoFooter{
		width: 100px;
		position: left;
	}

	#textGrandeEmailFooter{
		text-decoration: none;
		color: white;
		font-family: Asap;
		font-size: 12px;
	}*/

	.contactosFooterIzq{
		width: 158px;
		float: left;
		height: 47px;
		margin-top: 1px;
	}

	.contactosFooterDer{
		width: 158px;
		float: right;
		height: 47px;
		margin-top: 1px;
	}

	.contactosFooterDer a{
		text-decoration: none;
		color: white;
		width: 324px;
		font-family: Asap;
		font-size: 20px;
	}

	.contactosFooterIzq a{
		text-decoration: none;
		color: white;
		width: 324px;
		font-family: Asap;
		font-size: 20px;
	}

	.textContactoFooter{
		margin-top: 12px;
	}

	#face {
		background: url("/static/img/sprites.png") -165px -60px;
		height: 48px;
		width: 51px;
		float: left;
	}

	#rss {
		background: url("/static/img/sprites.png") -65px -60px;
		height: 48px;
		width: 51px;
		float: left;
	}

	#tw {
		background: url("/static/img/sprites.png") -114px -60px;
		height: 48px;
		width: 51px;
		float: left;
	}

	#email {
		background: url("/static/img/sprites.png") -14px -60px;
		height: 48px;
		width: 51px;
		float: left;
	}
}