.imgModulosRespuestasInfor{
	background: url("../img/modulo.png") 0px 0px;
	width: 145px;
	height: 237px;
	float: left;
}

.informacionIzqInformatorio{
	height: 40px;
	width: 99%;
	margin-left: 5px;
	margin-top: 5px;
}

.preguntasInformatorio{
	width: 100%;
	margin: 10px;
	position: relative;
}

.preguntasInformatorio h1{
	color: #bbb;
	font-family: Asap;
	font-size: 40px;
	border-radius: 8px;
	border: 3px solid #bbb;
	cursor: pointer;
	height: 48px;
	padding-left: 5px;
}

.preguntasInformatorio h1:hover{
	color: white;
	background-color: #bbb;
	border: 3px solid white;
}

.textoInformacionInformatorio{
	width: 80%;
	height: 25px;
	margin-top: 8px;
	margin-left: 10px;
	font-family: Asap;
	font-size: 20px;
	float: left;
}

.textoInformacionInformatorio a{
	text-decoration: none;
	color: black;
	font-family: Asap;
	font-size: 20px;
}

#contTituloInformatorio{
	width: 100%;
	height: 150px;
	background-color: #26C9F2;
}

#contImgModulosRespuestasInfor{
	width: 100%;
	height: auto;
	float: left;
}

#contFundaProg{
	width: 330px;
	height: auto;
	position: absolute;	
	border-radius: 8px;
	top: 150px;
	left: -225px;
	display: none;
}

#fundaProg{
	border-radius: 8px;
	width: 330px;
	height: auto;
	background:#515152;
	position: absolute;
	margin:0px auto;
}

#fundaProg h2{
	font-family: Asap;
	font-size: 40px;
	text-align: left;
	color: white;
	border-radius: 5px;
	margin: 4px 0px 4px 7px;
	width: 300px;
	padding: 5px;
	text-decoration: underline;
	background-color: rgba(225,225,225,0.3);
}

#fundaProg p{
	font-family: Asap;
	font-size: 20px;
	color: #bbb;
}

#fundaProg p span{
	font-weight: bolder;
}

#fundaProg p em{
	font-family: Asap;
	font-size: 16px;	
}

#flechFundaProg{
	display: block;
	margin:0 auto;
	position: relative;
	width:0;
	height:0;
	top: 250px;
	left: 180px;
	border-color:transparent transparent transparent #515152;
	border-style:solid;
	border-width:20px;
}

#imgModulos1{
	margin-left: 120px;
}

#imgModulos2{
	background-position: -145px 0px;
}

#imgModulos3{
	background-position: -290px 0px;
}

#imgModulos4{
	background-position: -435px 0px;
}

#imgModulo5-1{
	position: relative;
	top: 190px;
	left: 80px;
	height: 35px;
	width: 63px;
}

#imgModulo5-2{
	position: relative;
	top: 190px;
	left: -3px;
	height: 35px;
	width: 58px;
}

#imgMouse{
	width: 30%;
	height: 150px;
	float: left;
}

#imgMouse img{
	float: right;
}

#contInfoInformatorio{
	width: 100%;
	height: 200px;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

#conPricipalInformatorio{
	width: 824px;
	float: left;
	height: auto;
}

#contPreguntasInformatorio{
	width: 810px;
	height: auto;
}

#emailInformatorio{
	height: 20px;
	width: 27px;
	background: url("../img/iconosCelestes.png") repeat 0px 0px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#faceInformatorio{
	height: 25px;
	width: 27px;
	background: url("../img/iconosCelestes.png") repeat 0px -20px;
	float: left;
	margin-left: 15px;
	margin-top: 10px;	
}

#informatorio{
	height: 60px;
	width: 100%;
	font-size: 60px;
	color: white;
	font-family: Asap;
	margin-top: 30px;
	font-weight: bolder;
}

#informacionInformatorio{
	height: 200px;
	width: 69.5%;
	float: left;
}

#informacionIzqInformatorio{
	width: 50%;
	height: 200px;
	float: left;
}

#dirInformatorio{
	height: 24px;
	width: 27px;
	background: url("../img/iconosCelestes.png") repeat 0px -87px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#mapaUbicacionInformatorio{
	width: 30%;
	height: 190px;
	float: left;
	margin-top: 3px;
	border-radius: 5px;
	border:2px solid #bbb; 
}

#modulosRespuestasInfor h2{
	font-family: Asap;
	font-size: 17px;
	text-align: justify;
	text-transform: uppercase;
	padding-left: 10px;
}

#modulosRespuestasInfor img{
	position: relative;
	left: 130px;
	border-radius: 8px;
}

#respuestasInfor{
	width: 99%;
	margin: 0px 5px 5px 5px;
	border-radius: 5px;
	background-color: #ddd;
	position: relative;
	height: auto;
}

#respuestasInfor p{
	padding: 5px 12px 5px 12px; 
	font-family: Asap;
	font-size: 17px;
	text-indent: 20px;
	text-align: justify;
}

#rssInformatorio{
	height: 24px;
	width: 27px;
	background: url("../img/iconosCelestes.png") repeat 0px -64px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#sloganInformatorio{
	height: 40px;
	width: 100%;
	font-size: 24px;
	color: white;
	font-family: Asap;
}

#tituloInformatorio{
	width: 70%;
	height: 150px;
	float: left;
}

#twitInformatorio{
	height: 20px;
	width: 27px;
	background: url("../img/iconosCelestes.png") repeat 0px -44px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;	
}