/*Imports Fonts Google*/
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300italic, 500italic);
@import url(http://fonts.googleapis.com/css?family=Asap);
@import url(http://fonts.googleapis.com/css?family=Rosario);

/* --------------------------------------------------------*/

/*Reset */
*{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------*/

/*Cuerpo*/
body{
	background: #fffee5;
}

/*------------------------------------------------------*/

/*Clase contenedor, para que el contenido se vea relativamente a 1024px */
.container{
	width: 75%;
	margin: 0 auto;
}

/*--------------------------------------------------------------*/

/*Cabecera del sitio*/
header{
	height: 200px;
	width: 100%;
	background: url("/../static/img/back-header.png") no-repeat 190px 0px #01466F;
}

#barraHeader{
	margin: 0;
	color: #fff;
	min-width: 222px;
	max-width: 250px;
	border-radius: 0 0 5px 5px;
	left: 85%;
	width: 25%;
	height: 40px;
	background: #3b8686;
	position: relative;
	text-align: center;
}

#barraHeader ul li{
	padding: 0.5em 0;
	display: inline-block;
}

#barraHeader ul li a{
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	font-family: 'Rosario', sans-serif;
}

#icoLenguaje{
	margin: 0 5px;
	float: left;
	width: 20px;
	height: 30px;
	background: url(../img/sprites.png) 120px -22px;
}

#icoUser{
	margin: 0 5px;
	float: left;
	width: 20px;
	height: 30px;
	background: url(../img/sprites.png) 90px -22px;
}


#menuPerfil{
	margin: 13.1% 0;
	left: 63%;
	position: relative;
	width: 40%;
	height: 35px;
	background: #cccccc;
	border-radius: 5px 5px 0 0;
	text-align: center; 
}

#menuPerfil ul li{
	display: inline-block;
	margin: 7px;
}

#menuPerfil ul li a{
	text-decoration: none;
	color: #0b486b;
	font-family: 'Rosario',sans-serif;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
}

/*---------------------------------------------------------------*/

/*Menu principal*/
nav{
	text-align: center;
	width: 100%;
	height: 5em;
	background: #cccccc;
}

nav ul li{
	display: inline-block;
	margin: 0.5em 0.5em;
}

nav ul li a{
	font-weight: bold;
	font-size: 0.9em;
	font-family: 'Roboto', sans-serif;
	color: #003d66;
	text-decoration: none;
}

/*---------------------------------------------------------------------*/

/*Buscador Principal*/
#quebuscas{
	margin: 2% auto;
	border-radius: 0.5em;
	background: #8d9906;
	width: 80%;
	height: 70px;

}

#queBuscas label{
	color: #fff;
	margin: 0.1em 1.3em;
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
}

#queBuscas input{
	font-size: 1em;
	color: #55595c;
	margin: 0 1.5em;
	height: 25px;
	border-radius: 0.4em;
	width: 70%;
}

/*------------------------------------------------------------------------*/

/*Slider Principal del Sitio*/
#sliderPrincipal{
	position: relative;
	display: block;
	width: 100%;
	height: 360px;
}

#sliderPrincipal img{
	width: 100%;
	display: block;
	height: auto;
}

#slideContent h2{
	margin: 0 0.5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: italic;
	color: #0b486b;
}

#slideContent h4{
	font-style: 'Asap', sans-serif;
	font-size: 16px;
	color: #001f33;
	margin: 0 0.5em;
}

#slideContent{
	left: 0;
	bottom: 4.3em;
	position: relative;
	height: 70px;
	background: rgba(250,250,250,0.5);
	overflow: hidden;
}

/*------------------------------------------------------------------------*/

/*Bloque de noticias*/
#noticias{
	width: 65%;
	height: auto;
	display: inline-table;
}

/*--------------------------------------------------------------------------*/

/*Bloque de barra lateral*/
#sidebar{
	width: 30%;
	height: auto;
	display: inline-table;
}

/*---------------------------------------------------------------------------*/
