/*Imports Fonts Google*/
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300italic, 500italic);
@import url(http://fonts.googleapis.com/css?family=Asap);
@import url(http://fonts.googleapis.com/css?family=Rosario);

/* --------------------------------------------------------*/

/*Reset */
*{
	font-family: Arial;
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------*/

/*Cuerpo*/
body{
	background: #fffee5;
	margin:0px auto;
	width: 1024px;
}

/*------------------------------------------------------*/
.container{
	float: left;
	width: 80%;
}

.containerHeader{
	width: 1024px;
	margin: 0 auto;
	position: absolute;	
	background: #01466F;
}
/*Cabecera del sitio*/
header{
	height: 211px;
	width: 1024px;
	background: #bbb;
} 

#headerDerecho{
	float: right;
	position: relative;
	width: 420px;
	height: 205px;
}


#barraHeader{
	color: #fff;
	border-radius: 0 0 5px 15px;
	float: right;
	width: 200px;
	height: 35px;
	background: #3c8686;
	position: relative;
	text-align: center;
}

#barraHeader ul li{
	padding: 0.5em 0;
	display: inline-block;
}

#barraHeader ul li a{
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	font-family: 'Rosario', sans-serif;
}

#icoLenguaje{
	margin: 0 5px;
	float: left;
	width: 20px;
	height: 30px;
	background: url(../img/sprites.png) 120px -22px;
}

#icoUser{
	margin: 0 5px;
	float: left;
	width: 20px;
	height: 30px;
	background: url(../img/sprites.png) 90px -22px;
}

#contImgHeader{
	margin-left: 60px;
	margin-top: 84px;
}


#menuPerfil{
	position: relative;
	width: 400px;
	float: right;
	height: 32px;
	background: #bbb;
	border-radius: 5px 5px 0 0;
	text-align: center; 
	top: 5px;
}

.perfil{
	width: 30%;
	height: 100%;
	float: left;
	padding-top: 6px;
	color: #0b486b;
	font-family: 'Rosario',sans-serif;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.perfil1{
	width: 40%;
}

.perfil:hover{
	background-color: #3c8686;
	color: white;
	border-radius: 3px;
}

/*Menu principal*/
nav{
	text-align: center;
	width: 100%;
	height: 35px;
	background: #ccc;
}

nav ul li{
	display: inline-block;
	margin: 1.5px 1.5px;
	margin-top: 8px;
}

nav ul li a{
	font-weight: bold;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: #003d66;
	text-decoration: none;
}

/*Bloque de barra lateral*/
#sidebar{
	width: 20%;
	height: auto;
	display: inline-table;
}