/*Imports Fonts Google*/
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300italic, 500italic);
@import url(http://fonts.googleapis.com/css?family=Asap);
@import url(http://fonts.googleapis.com/css?family=Rosario);

::-webkit-scrollbar-track {
      background-color: #BFC0C1;
} 

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} 

::-webkit-scrollbar-button {
      background-color: #373838;
}

::-webkit-scrollbar-corner {
      background-color: black;
      border-radius: 2px;
}

.contenedorNoticia{
	height: 240px;
	margin: 5px 0px 5px 0px;
	background-color: rgba(0, 98, 178, 0.2);
	border-radius: 8px;
}

.contenedorTextoNoticia{
	margin: 0px;
	height: 150px;
	padding: 5px;
}

.imgNoticia{
	border: 1px solid black;
	border-radius: 3px;
	float: left;
	height: 150px;
	margin:5px;
}


.textTituloNoticia{
	font-family: "Rosario";
	color: #548ed7;
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
}

.textoNoticia{
	margin: 0px;
	margin-top: -3px;
	text-align: justify;
	text-indent: 30px;
	white-space: pre-line;
	font-family: "Roboto";
}

.textTituloNoticia:hover{
	cursor: pointer;
	text-shadow:0.1em 0.1em 0.05em #BFC0C1;
}

.tituloNotica{
	height: 60px;
	position: relative;
	margin-top: 12px;
	margin-left: 12px;
}

#contenedorInfos{
	border-radius: 5px;
	background-color:  rgba(90, 137, 182, 0.1);
}

#iconoTituloInfo{
	float: left;
	width: 70px;
}

#textTituloInfo{
	font-family: "Asap";
	color: #548ed7;
	margin: 0px;
	position: relative;
	top: 22px;
	left: 5px;
}

#tituloInfo{
	height: 70px;
}

#linesSeparadoraNoticiaEvento{
	width: 70%;
	height: 10px;
	margin: 0px auto;
	margin-bottom: 10px;
	border-bottom: 5px dashed #01466F;
}
