/*Bloque de noticias*/

#noticias{
	position: relative;
	width: 100%;
	height: auto;
	display: inline-table;
}

::-webkit-scrollbar-track {
      background-color: #BFC0C1;
} 

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} 

::-webkit-scrollbar-button {
      background-color: #373838;
}

::-webkit-scrollbar-corner {
      background-color: black;
      border-radius: 2px;
}

.contenedorNoticia{
	height: 235px;
	margin: 5px 0px 5px 0px;
	background-color: rgba(0, 98, 178, 0.2);
	border-radius: 8px;
}

.contenedorTextoNoticia{
	margin: 0px;
	height: 150px;
	padding: 15px;
}

.imgNoticia{
	border: 5px groove #DBDBDB;
	border-radius: 3px;
	float: left;
	height: 145px;
	margin:5px;
}

.leerMasInfo{
	white-space: pre-line;
	font-family: "Roboto";
	text-decoration: none;
	width: 80px;
	margin-top: 5px;
	float: right;
	color: #548ed7;
}

.leerMasInfo:hover{
	color: black;
}

.textTituloNoticia{
	font-family: "Asap";
	color: #548ed7;
	font-size: 20px;
	font-weight: bolder;
	text-decoration: none;
	text-align: center;
}

.textoNoticia{
	margin: 0px;
	margin-top: -3px;
	text-align: justify;
	text-indent: 30px;
	white-space: pre-line;
	font-family: "Roboto";
}

.textTituloNoticia:hover{
	cursor: pointer;
}

.tituloNotica{
	height: 55px;
	position: relative;
	margin-left: 12px;
}

#contenedorInfos{
	border-radius: 5px;
	background-color:  rgba(90, 137, 182, 0.1);
}

#iconoTituloInfo{
	float: left;
	width: 70px;
	margin-left: 20px;
}

#textTituloInfo{
	font-family: "Asap";
	color: #548ed7;
	margin: 0px;
	position: relative;
	top: 22px;
	left: 5px;
}

#tituloInfo{
	height: 70px;
}

#separadorTitulo{
	height: 2px;
	width: 68%;
	border-bottom: 3px dashed #6E6E6E;
	margin: 0px auto;
	margin-bottom: 10px;
}