{# <link rel="stylesheet" type="text/css" href="/static/css/banners.css"> #}
	<!--<script src="/static/js/banners.js"></script>
	<script type="text/javascript"></script>-->
	<div class="logos_secciones">
		<div id="seccionInformatorio" class="logo_seccion">
			<div class="logo_informatorio">&nbsp;</div>
			<div class="titulo_seccion">
				Informatorio
			</div>
		</div>
		<div class="subMenu_informatorio">
			<div class="textSubmenu">Home</div>
		</div>
		<div class="subMenu_informatorio">
			<div class="textSubmenu">Participar</div>
		</div>
		<div class="subMenu_informatorio">
			<div class="textGrandesSubmenu">Proyectos y Trabajos</div>
		</div>
		<div class="subMenu_informatorio">
			<div class="textSubmenu">Experiencias</div>
		</div>
		<div id="seccionPolo" class="logo_seccion">
			<div class="logo_poloit">&nbsp;</div>
			<div class="titulo_seccion">
				Polo IT Chaco
			</div>
		</div>
		<div class="subMenu_polo">
			<div class="textSubmenu">Home</div>
		</div>
		<div class="subMenu_polo">
			<div class="textSubmenu">Participar</div>
		</div>
		<div class="subMenu_polo">
			<div class="textSubmenu">Empresas</div>
		</div>
		<div class="subMenu_polo">
			<div class="textSubmenu">Noticias</div>
		</div>
		<div class="subMenu_polo">
			<div class="textSubmenu">Eventos</div>
		</div>
		<div id="seccionEmpresas" class="logo_seccion">
			<div class="logo_poloit">&nbsp;</div>
			<div class="titulo_seccion">
				Empresas
			</div>
		</div>
		<div class="subMenu_empresas">
			<div class="textGrandesSubmenu">Listado de Productos</div>
		</div>
		<div class="subMenu_empresas">
			<div class="textGrandesSubmenu">Listado de Empresas</div>
		</div>
		<div class="subMenu_empresas">
			<div class="textSubmenu">Noticias</div>
		</div>
		<div class="subMenu_empresas">
			<div class="textSubmenu">Eventos</div>
		</div>
		<div id="seccionEmpleos" class="logo_seccion">
			<div class="logo_empleostics">&nbsp;</div>
			<div class="titulo_seccion">
				Empleos TICS
			</div>
		</div>
		<div class="subMenu_empleos">
			<div class="textSubmenu">Cargar CV</div>
		</div>
		<div class="subMenu_empleos">
			<div class="textGrandesSubmenu">Ofertas Laborales</div>
		</div>
		<div class="subMenu_empleos">
			<div class="textGrandesSubmenu">Aplicacion Laboral</div>
		</div>
		<div id="seccionEstudiar" class="logo_seccion">
			<div class="logo_empleostics">&nbsp;</div>
			<div class="titulo_seccion">
				Estudiar TICS
			</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textSubmenu">Carreras</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textSubmenu">Becas</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textSubmenu">Pasantías</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textMuyGrandeSubMenu">Cursos y Capacitaciones</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textMuyGrandeSubMenu">Programas Institucionales</div>
		</div>
		<div class="subMenu_estudiar">
			<div class="textSubmenu">Eventos</div>
		</div>
	</div>


	<div class="bann">
		<div class="banner banner1"></div>
		<div class="banner banner2"></div>
		<div class="banner"></div>
		<div class="banner"></div>
		<div class="banner"></div>
	</div>
