<link rel="stylesheet" type="text/css" href="/static/css/banner-logo.css">
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/sliderFooterHome.js"></script>

<div>
	<div id='banner-logo'>
        <div id='logos'>
            <div id='utn' class='logo'>&nbsp;</div>
            <div id='ssich' class='logo'>&nbsp;</div>
            <div id='polo' class='logo'>&nbsp;</div>
            <div id='utn' class='logo'>&nbsp;</div>
            <div id='utn' class='logo'>&nbsp;</div>
        </div>
    </div>
</div>
