{# <link rel="stylesheet" type="text/css" href="/static/css/banners.css"> #}
	<div class="logos_secciones">
		<div class="logo_seccion">
			<div class="logo_informatorio">&nbsp;</div>
			<div class="informatorio">
				Informatorio
			</div>
		</div>
		<div class="logo_seccion">
			<div class="logo_poloit">&nbsp;</div>
			<div class="poloit">
				Polo IT Chaco
			</div>
		</div>
		<div class="logo_seccion">
			<div class="logo_poloit">&nbsp;</div>
			<div class="poloit">
				Empresas
			</div>
		</div>
		<div class="logo_seccion">
			<div class="logo_empleostics">&nbsp;</div>
			<div class="empleostics">
				Empleos TICS
			</div>
		</div>
		<div class="logo_seccion">
			<div class="logo_empleostics">&nbsp;</div>
			<div class="empleostics">
				Estudiar TICS
			</div>
		</div>
	</div>


	<div class="bann">
		<div class="banner banner1"></div>
		<div class="banner banner2"></div>
		<div class="banner"></div>
		<div class="banner"></div>
		<div class="banner"></div>
	</div>
