<!DOCTYPE html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

			<title>NeaTics.com.ar</title>

			<link rel="stylesheet" href="/static/css/home-squares-animation.css">
			<link rel="stylesheet" href="/static/css/index.css">

			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="/static/js/home-squares-animation.js"></script>
			<link rel="stylesheet" href="/static/css/footer.css">
			<script type="text/javascript">
				$(document).ready(function() {
					$("#menuPerfil div").mouseleave(function(){
						$("header").css('background','#bbb');
					});

					$("#menuPerfil div").mouseenter(function(){
						$("header").css('background','#3c8686');
					})
					$('#singin').click(function() {
						$('#barraHeader').animate({top:'+=173px'})
						$('#singin').animate({top:'-=20px'})
						$('#idioma').animate({top:'-=173px'})
						$('#singin').unbind("click").click(function() {
							var user = $('#user').val();
							var pass = $('#pass').val();
							// $.get();
							console.log(user, pass)
						})
					})
					$('#close').click(function() {
						$('#barraHeader').animate({top:'-=173px'})
						$('#singin').animate({top:'+=20px'})
						$('#idioma').animate({top:'+=173px'})
						$('#user').val('');
						$('#pass').val('');
						$('#singin').unbind("click").click(function() {
						$('#barraHeader').animate({top:'+=173px'})
						$('#singin').animate({top:'-=20px'})
						$('#idioma').animate({top:'-=173px'})
						$('#singin').unbind("click").click(function() {
							var user = $('#user').val();
							var pass = $('#pass').val();
							// $.get();
							console.log(user, pass)
						})
					})
					})
				});
			</script>

			<link rel="stylesheet" type="text/css" href="/static/css/banner-logo.css">
			<script src="/static/js/bootstrap.js"></script>
			<script src="/static/js/sliderFooterHome.js"></script>

				
			{% block extra_head %} {% endblock %}

	</head>
	<body>
		
		<header>
			<div class="containerHeader">
				<div id="squares-wrapper"></div>
				<div id="headerDerecho">	
					<div id="barraHeader">
						<span id='close'>X</span>
						<form>
							<div class='control-group'>
								<label for='user'>User: </label>
								<input id='user' type='text' name='user'>
							</div>
							<div class='control-group'>
								<input id='pass' type='password' name='pass'>
								<label for='pass'>Password: </label>
							</div>
						</form>
						<ul>
							<li id='idioma'><a href="#"><span id="icoLenguaje">&nbsp;</span>Idiomas</a></li>
							<li id='singin'><a href="#"><span id="icoUser">&nbsp;</span>Iniciar</a></li>
						</ul>
					</div>
					<div id="contImgHeader">
					</div>
					<div id="menuPerfil">
						<a href="#"><div class="perfil">Empresa</div></a>
						<a href="#"><div class="perfil perfil1">Desarrollador</div></a>
						<a href="#"><div class="perfil">Estudiante</div></a>
					</div>
				</div>
			</div>
		</header>

		{% include 'nav-home.html' %}

		{% block contenido %} {% endblock %}

		<footer>

			{% include 'footer.html' %}

		</footer>
		
	</body>
</html>