{% extends 'base.html' %}
{% block contenido %}

<link rel="stylesheet" href="/static/css/empresas.css">

<div id="contenedor-empresa">
	
	<div id="header-empresa">
		<div id="nombre-empresa">
			Nombre de la Empresa
		</div>
		
		<div id="slogan-empresa">
			Eslogan de la empresa.
		</div>
	</div>
	{% include 'slider-principal.html' %}
	<div id="notebook-empresa">
		<div id="tabs-empresas">
			<div>
				<div class="tab-empresas">Noticias</div>
			</div>
			<div>
				<div class="tab-empresas">Eventos</div>
			</div>
			<div>
				<div class="tab-empresas">Trabajos</div>
			</div>
			<div>
				<div class="tab-empresas">Productos</div>
			</div>
			<div>
				<div class="tab-empresas">Servicios</div>
			</div>
			<div>
				<div class="tab-empresas">Clientes</div>
			</div>
		</div>
		<div id="tab-content-empresas">
			<div class="tab-content-header">
				
			</div>
			<div class="tab-content-body">
				<div class="tab-body-left">
					<div id="mapa-empresa"></div>
					<div class="empresa-social">
						<img id="empresa-social-twitter">
						<span class="empresa-social-text"></span>
					</div>
					<div class="empresa-social">
						<img id="empresa-social-facebook">
						<span class="empresa-social-text"></span>
					</div>
					<div class="empresa-social">
						<img id="empresa-social-mail">
						<span class="empresa-social-text"></span>
					</div>
					<div class="empresa-social">
						<img id="empresa-social-telefono">
						<span class="empresa-social-text"></span>
					</div>
					
				</div>
				<div class="tab-body-right">asasd</div>
			</div>
		</div>
	</div>
	

</div>

{% endblock %}
