<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="utf-8">
<title>eventos</title>
<link href="main.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="contenedor">
	<div id="logo">
		<div class="d">
			<img src="img/e.png">
		</div>
		<div class="d">
			<h1 class="eve"> Eventos</h1>
		</div>
	</div>
	<div id="eventos">
		<div id="conevento">
			<a hrf="">
				<div class="imagen">
					<img src="img/a.jpg">
				</div>
				<div class="titulo">
					Titulo del evento
				</div>
				<div class="texto">
					<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
					Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.</p>
				</div>
			</a>
		</div>
		<div id="conevento">
			<a hrf="">
				<div class="imagen">
					<img src="img/b.jpg">
				</div>
				<div class="titulo">
					Titulo del evento
				</div>
				<div class="texto">
					<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
					Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.
					</p>
				</div>
			</a>
		</div>
		<div id="conevento">
			<a hrf="">
				<div class="imagen">
					<img src="img/c.png">
				</div>
				<div class="titulo">
					Titulo del evento
				</div>
				<div class="texto">
					<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
					Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
</body>
</html>