{# <link rel="stylesheet" href="/static/css/eventos.css"> #}

<div id="contenedor">
	<div id="logo">
		<div class="d">
			<img src="/static/img/e.png">
		</div>
		<div class="d">
			<h1 class="eve"> Eventos</h1>
		</div>
	</div>
	<div id="eventos">
		<div id="conevento">
			<div class="titulo">
				<a class="textoTitulo" href="http://www.chacoespectaculos.com.ar/index.php/secciones/folcklore/1853-disfruta-resistencia-patriotica-con-jorge-rojas.html" target="_blanck">
					Disfruta Resistencia Patriotica con Jorge Rojas
				</a>
			</div>
			<div class="imagen">
				<img whith="195px" height="95px" src="/static/img/imgEjemploEventos/img1.jpg">
			</div>
			<div class="texto">
				<p class="infoTexto">La intendenta de Resistencia Aida Ayala convocó a la comunidad a sumarse a los festejos por el 197º aniversario de la Independencia, embanderando los hogares y comercios y a participar de los actos que tendrán su ceremonia central el 9 de julio con el desfile cívico en Plaza 25 de Mayo. <a class="leerMasEve" href="http://www.chacoespectaculos.com.ar/index.php/secciones/folcklore/1853-disfruta-resistencia-patriotica-con-jorge-rojas.html" target="_blanck">Leer más...</a></p>
			</div>
		</div>
		<div id="conevento">
			<div class="titulo">
				<a class="textoTitulo" href="http://www.chacoespectaculos.com.ar/index.php/secciones/teatro/1856-campeonato-regional-de-baile-de-tango-2013-subsede-resistencia.html" target="_blanck">
					Campeonato Regional de Baile de Tango 2013, subsede Resistencia
				</a>
			</div>
			<div class="imagen">
				<img whith="195px" height="95px" src="/static/img/imgEjemploEventos/img2.jpg">
			</div>
			<div class="texto">
				<p class="infoTexto">El viernes 12 de julio, a las 18, se realizará en el Complejo Cultural Guido Miranda el Campeonato Regional de Baile de Tango 2013. Del mismo podrán participar en los rubros Tango Salón y Tango Escenario bailarines del Nea mayores de 18 años. Las parejas premiadas en ambas categorías tendrán el pase directo a la semifinal en Buenos Aires, con todos los gastos pagos. Las entradas tendrán un costo de $25. <a class="leerMasEve" href="http://www.chacoespectaculos.com.ar/index.php/secciones/teatro/1856-campeonato-regional-de-baile-de-tango-2013-subsede-resistencia.html" target="_blanck">Leer más...</a></p>
			</div>
		</div>
		<div id="conevento">
			<div class="titulo">
				<a class="textoTitulo" href="http://www.chacoespectaculos.com.ar/index.php/secciones/teatro/1875-inverosimil-representara-al-chaco-en-la-fiesta-regional-de-teatro.html" target="_blanck">
					Inverosímil Representará al Chaco en la Fiesta Regional de Teatro
				</a>
			</div>
			<div class="imagen">
				<img whith="195px" height="95px" src="/static/img/imgEjemploEventos/img3.png">
			</div>
			<div class="texto">
				<p class="infoTexto">La fiesta del teatro chaqueño –el 36º Encuentro Provincial- bajó su telón el domingo con la difusión de los seleccionados para representara a la provincia en la fiesta nacional: Inverosímil del elenco de Los del Callejón de Resistencia se quedó con el primero lugar. Más de 140 teatreros participaron del evento. <a class="leerMasEve" href="http://www.chacoespectaculos.com.ar/index.php/secciones/teatro/1875-inverosimil-representara-al-chaco-en-la-fiesta-regional-de-teatro.html" target="_blanck">Leer más...</a></p>
			</div>
		</div>
	</div>
	<div id="contVerMasEventos">
		<h2><a id="verMasEventos" href="{% url 'template' 'eventosGral' %}">Ver más eventos</a></h2>
	</div>
</div>