<footer>
	<div id="contenedor">
		<div id="mapa_sitio">
			<div>
				<ul>
					<li class="header">Menu</li>
					<li>
						<a href="#">- submenu1</a>
					</li>
					<li>
						<a href="#">- submenu2</a>
					</li>
					<li>
						<a href="#">- submenu3</a>
					</li>
					<li>
						<a href="#">- submenu4</a>
					</li>
				</ul>
			</div>

			<div>
				<ul>
					<li class="header">Menu</li>
					<li>
						<a href="#">- submenu1</a>
					</li>
					<li>
						<a href="#">- submenu2</a>
					</li>
					<li>
						<a href="#">- submenu3</a>
					</li>
					<li>
						<a href="#">- submenu4</a>
					</li>
				</ul>
			</div>

			<div>
				<ul>
					<li class="header">Menu</li>
					<li>
						<a href="#">- submenu1</a>
					</li>
					<li>
						<a href="#">- submenu2</a>
					</li>
					<li>
						<a href="#">- submenu3</a>
					</li>
					<li>
						<a href="#">- submenu4</a>
					</li>
				</ul>
			</div>

			<div>
				<ul>
					<li class="header">Menu</li>
					<li>
						<a href="#">- submenu1</a>
					</li>
					<li>
						<a href="#">- submenu2</a>
					</li>
					<li>
						<a href="#">- submenu3</a>
					</li>
					<li>
						<a href="#">- submenu4</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div id="logos_redes">
			<div class="cincuenta">
				<div id="face">&nbsp;</div>
				<div id="tw">&nbsp;</div>
			</div>
			<div class="cincuenta">
				<div id="rss">&nbsp;</div>
				<div id="email">&nbsp;</div>
			</div>				
		</div>
	</div>
	
</footer>

