{# <link rel="stylesheet" href="/static/css/footer.css"> #}

<div id="mapa_sitio">
	<div class="menuFooter">
		<div class="tituloMenuFooter">
			Informatorio
		</div>	
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Home</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Participar</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Proyectos y Trabajos</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Experiencias</p>
			</a>
		</div>
	</div>
	<div class="menuFooter">
		<div class="tituloMenuFooter">
			Empresas
		</div>	
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Listado de Productos</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Listado de Empresas</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Noticias</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Eventos</p>
			</a>
		</div>
	</div>
	<div class="menuFooter">
		<div class="tituloMenuFooter">
			Empleos Tics
		</div>	
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Cargar CV</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Ofertas Laborales</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Aplicacion Laboral</p>
			</a>
		</div>
	</div>
	<div class="menuFooter">
		<div class="tituloMenuFooter">
			Estudiar Tics
		</div>	
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Carreras</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Becas</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Pasantías</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Cursos y Capacitaciones</p>
			</a>
		</div>
		<div class="contenedorSubMenuFooter">
			<a href="#">
				<p class="guionFooter">-</p>
				<p class="tituloSubMenuFooter">Programas Institucionales</p>
			</a>
		</div>
	</div>
</div>

<div id="logos_redes">
	<div id="contactosFooter">
		<div class="cincuenta">
			<div class="contactosFooterIzq">
				<div id="face"></div>
				<div class="textContactoFooter">
					<a href="https://www.facebook.com/NeaTics" target="_blanck">/NeaTics</a>
				</div>
			</div>
			<div class="contactosFooterIzq">
				<div id="tw">&nbsp;</div>
				<div class="textContactoFooter">
					<a href="https://twitter.com/NeaTics" target="_blanck">@NeaTics</a>
				</div>
			</div>
		</div>
		<div class="cincuenta">
			<div class="contactosFooterDer">
				<div id="rss">&nbsp;</div>
				<div class="textContactoFooter">
					<a href="#">/NeaTics</a>
				</div>
			</div>
			<!-- <div class="contactosFooterDer">
				<div id="email">&nbsp;</div>
				<div id="textGrandeContactoFooter">
					<a href="#" id="textGrandeEmailFooter">Neatics@ Neatics.com</a>
				</div>
			</div> -->
		</div>				
	</div>
	<div class="desarrolladoPorFooter">
		<div>Desarrollado por:</div>
		<div>Informatorio 2013</div>
	</div>
</div>
