{% extends 'base.html' %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="/static/css/banners.css">
	<link rel="stylesheet" type="text/css" href="/static/css/homeInformatorio.css">
	<style type="text/css">
		#barritaIndicadora{
			width: 0px;
			left: 0px;
		}
	</style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<!--<script type="text/javascript" scr="/static/js/homeInformatorio.js"></script>-->
	<script type="text/javascript">
		function initialize() {
		  var myLatlng = new google.maps.LatLng(-27.453337,-58.987152);
		  var mapOptions = {
		    zoom: 15,
		    center: myLatlng,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
		  }
		  var map = new google.maps.Map(document.getElementById('mapaUbicacionInformatorio'), mapOptions);

		  var marker = new google.maps.Marker({
		      position: myLatlng,
		      map: map,
		      title: 'Informatorio'
		  });
		}

		google.maps.event.addDomListener(window, 'load', initialize);

		$(document).ready(function(){
			var clases = ["contMasInfoModulo1","contMasInfoModulo2","contMasInfoModulo3","contMasInfoModulo4","contMasInfoModulo5"];
			$(".imgModulo").mouseenter(function(){
				var id = $(this).attr('id').split('')[10];
				id = id - 1;
				var modulo = clases[id];
				$("." + modulo).animate({
					opacity: "show"
				}, "slow")
			})

			$(".imgModulo").mouseleave(function(){
				var id = $(this).attr('id').split('')[10];
				id = id - 1;
				var modulo = clases[id];
				$("." + modulo).animate({
					opacity: "hide"
				}, "slow")
			})
		})
	</script>
{% endblock %}

{% block contenido %}
	<div id="contTituloInformatorio">
		<div id="imgMouse">
			<img src="/static/img/raton.jpg">
		</div>
		<div id="tituloInformatorio">
			<div id="informatorio">INFORMATORIO</div>
			<div id="sloganInformatorio"><em>Hacia una mejor industria informática</em></div>
		</div>
	</div>
	<div id="contInfoInformatorio">
		<div id="mapaUbicacionInformatorio">
		</div>
		<div id="informacionInformatorio">
			<div id="informacionIzqInformatorio">
				<div class="informacionIzqInformatorio">
					<div id="emailInformatorio"></div>
					<div class="textoInformacionInformatorio">InformatorioChaco@gmail.com</div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="faceInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="https://www.facebook.com/prog.ssich?hc_location=stream" target="_blanck">/InformatorioChaco</a></div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="twitInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="https://www.twitter.com" target="_blanck">@InformatorioChaco</a></div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="rssInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="#">/InformatorioChaco</a></div>
				</div>
			</div>
			<div id="informacionIzqInformatorio">
				<div class="informacionIzqInformatorio">
					<div id="dirInformatorio"></div>
					<div class="textoInformacionInformatorio">A. Frondizi Nº 178 - 4to Piso</div>
				</div>
				
			</div>
		</div>
	</div>
	<div>
		<aside class='banners'>
			{% include 'banners.html' %}
		</aside>
		<div id="conPricipalInformatorio">
			<div id="contPreguntasInformatorio">
				<div class="preguntasInformatorio">
					<h1>¿Qué es?</h1>
					<div class="respuestasInformatorio" id="respuestasInfor">
						<p>
							El Informatorio, así llamado al Laboratorio de Capacitaciones Informáticas de la Provincia del Chaco, toma su nombre justamente por ser un Laboratorio Informático. Nace como una iniciativa que atiende a la falta de recursos humanos calificados en conocimiento técnico para la industria SSI chaqueña, identificado como uno de los principales problemas de la Industria, a partir del diálogo y la participación ciudadana en el Foro de Competitividad de la Industria de Software y Servicios Informáticos (SSI) Chaco realizado desde el año 2009 al 2010. 
						</p>
						<p>
							En este sentido la comisión de Recursos Humanos del mencionado foro determinó que una de las estrategias a implementar para el desarrollo de la industria sería la “Formación de Recursos Humanos en Herramientas Informáticas Específicas”. Se convocó a la Empresa Sistemas Globales S.A. y al Polo It Chaco, para consensuar la idea de montar el laboratorio con una capacitación específica que genere recursos humanos con la capacidad de un técnico informático en el plazo de un año. 
						</p>
						<p>
							También se decidió en esta instancia que sería deseable el dictado de otros cursos que contribuyan a consolidar conocimientos de los empleados actuales de las empresas, como también de los futuros empleados. Al avanzar en estas reuniones emergió que la participación de la Universidad Tecnológica Nacional Facultad Regional Resistencia resultaba fundamental.
						</p>
					</div>
				</div>
				<div class="preguntasInformatorio">
					<h1>¿Para qué?</h1>
					<div class="respuestasInformatorio" id="respuestasInfor">
						<p>
							Lo hacemos para formar a los jóvenes en las competencias necesarias para ingresar a la industria creciente de Software y Servicios Informáticos de la Provincia del Chaco.
						</p>
					</div>
				</div>
				<div class="preguntasInformatorio">
					<h1>¿Cómo?</h1>
					<div class="respuestasInformatorio" id="respuestasInfor">
						<p>
							Primero, implementamos un Curso de Desarrollo Avanzado de Aplicaciones Informáticas para los egresados con mejores promedios y cualidades de las escuelas técnicas de la provincia.
						</p>
						<p>
							Segundo, promovemos la realización de otros cursos que formen capacidades requeridas por las empresas de la provincia en tecnologías específicas así como en lenguajes necesarios para incrementar la competitividad de la industria SSI.
						</p>
						<p>
							Tercero, mantenemos el diálogo con diferentes actores del sector para lograrcanalizar las necesidades de formación mediante el Informatorio.
						</p>
						<div id="modulosRespuestasInfor">
							<h2>Modulos:</h2>
							<p>- Fundamentos de la programación</p>
							<p>- Gestión de la Información</p>
							<p>- Ingeniería de Software</p>
							<p>- Tecnologías .NET</p>
							<p>- Tecnologías Java</p>
							<p>- Tecnologías PHP</p>

							<div id="contImgModulosRespuestasInfor">
								<div id="imgModulos1" class="imgModulo imgModulosRespuestasInfor"></div>
								<div id="imgModulos2" class="imgModulo imgModulosRespuestasInfor">
								</div>
								<div id="imgModulos3" class="imgModulo imgModulosRespuestasInfor">
								</div>
								<div id="imgModulos4" class="imgModulo imgModulosRespuestasInfor"></div>
								<div class="imgModulo" id="imgModulos5"></div>
								<div id="contFundaProg" class="contMasInfoModulo1">
									<div id="fundaProg">
										<h2>ET1: Fundamentos de la Programación</h2>
										<p>
											<span>Objetivo:</span> El objetivo general de este eje temático es que los estudiantes sean capaces de resolver de manera eficaz distintos problemas de carácter general. Este objetivo requiere que los alumnos adquieran el conocimiento teórico y práctico sobre las técnicas básicas de programación estructurada consiguiendo la obtención de ideas <em>intuitivas y claras de los conceptos y técnicas estudiados,</em> y permitirá entender fácilmente nuevos modelos facilitando la aplicación práctica de los algoritmos utilizando un lenguaje de programación de propósito general.
										</p>
										<p>
											<span>Contenidos Mínimos:</span> Concepto de Informática, Computadora, Hardware y Software. Algoritmia, Algoritmo, resolución de problemas con algoritmos. Constantes, Variables, Estructuras de Datos: arreglos, listas, pilas, colas, arboles. Estructuras de control.
										</p>
										<p>
											<span>Taller Asociado:</span> Python
										</p>
									</div>
									<div id="flechFundaProg"></div>
								</div>
								<div id="contGestInfor" class="contMasInfoModulo2">
									<div id="gestInfor">
										<h2>ET2: Gestión de la Información</h2>
										<p>
											<span>Objetivo:</span> Que el alumno comprenda los conceptos fundamentales relacionados con la gestión eficiente de la información. Que se familiarice con la teoría y la práctica de la gestión de la información a través de bases de datos. Que el alumno sea capaz de diseñar, crear y manipular bases de datos.
										</p>
										<p>
											<span>Contenidos Mínimos:</span> Concepto de dato e información. Concepto de Archivo, tipos de archivo, organización y acceso. Sistema de archivos Vs Bases de Datos. Teoría de Bases de Datos. Modelos Conceptual, Lógico y Físico de datos. Modelo entidad relación. Modelo relacional. Lenguaje de Definición de Datos, Lenguajes de Manipulación de Datos. Lenguaje SQL. Conceptos de Administración de Bases de Datos
										</p>
										<p>
											<span>Taller Asociado:</span> MySql
										</p>
									</div>
									<div id="flechGestInfor"></div>
								</div>
								<div id="contIngSoft" class="contMasInfoModulo3">
									<div id="ingSoft">
										<h2>ET3: Ingeniería del Software</h2>
										<p>
											<span>Objetivo:</span> Entender qué es Ingeniería del Software. Conocer los diferentes modelos de ciclo de vida del software y familiarizarse con el proceso de desarrollo de software siguiendo metodologías ágiles.
										</p>
										<p>
											<span>Contenidos Mínimos:</span> Concepto de Ingeniería del Software, modelos de ciclo vida. Flujos de trabajo en el proceso de desarrollo de software. Requisitos, Análisis, Diseño, Implementación y Pruebas. Metodologías ágiles para el desarrollo de software: Scrum. Introducción a la planificación de proyectos Software con metodologías ágiles.
										</p>
									</div>
									<div id="flechIngSoft"></div>
								</div>
								<div id="contProgAvanAplic" class="contMasInfoModulo4">
									<div id="progAvanAplic">
										<h2>ET4: Programación avanzada de aplicaciones</h2>
										<p>
											<span>Objetivo:</span> Que el alumno conozca y sea capaz de desarrollar aplicaciones utilizando cualquiera de las tecnologías actuales que se impartan en los talleres que componen el eje temático.
										</p>
										<p>
											<span>Taller de CMS:</span> Druppal
										</p>
										<p>
											<span>Taller de Java:</span> Java Web, Spring Framework, Hibernate
										</p>
										<p>
											<span>Taller de .Net:</span> ASP.NET, NHibernate, Silverlight
										</p>
										<p>
											<span>Taller de PHP:</span> Zend Framework, Symphony
										</p>
									</div>
									<div id="flechProgAvanAplic"></div>
								</div>
								<div id="contModIngles" class="contMasInfoModulo5">
									<div id="modIngles">
										<h2>ET5: Idioma Inglés</h2>
										<p>
											<span>Contenidos Mínimos:</span> verbo to be, adjetivos posesivos, pronombres, preposiciones, existencial there (presente y pasado), presente simple, adverbios, modales (can y can’t, would) gerundios, pasado simple, presente continuo, cuantificadores, be going to, adjetivos comparativos y superlativos, presente perfecto.
										</p>
									</div>
									<div id="flechModIngles"></div>
								</div>
							</div>
							<div id="conProfesoresModRespInfo">
								<h2>Profesores</h2>
								<ul class="UlPrincipalModulosRespuestasInfor">
									<li>Noelia Pinto (2012 - 2013)</li>
									<ul class="LiDistintoModulosRespuestasInfor">
										<li>
											Ingeniera en Sistemas de Información
										</li>
										<li>
											Facebook: <a href="https://www.facebook.com/noelia.pinto?fref=ts" target="_blanck">www.facebook.com/noelia.pinto</a>
										</li>
										<li>
											Twitter: <a href="https://twitter.com/noeliapinto" target="_blanck">@noeliapinto</a>
										</li>
										<li>
											Linkedin: <a href="http://ar.linkedin.com/pub/noelia-pinto/23/792/a34" target="_blanck">noelia-pinto</a>
										</li>
										<li>
											Correo: ns.pinto@gmail.com
										</li>
									</ul>
									<li>Gilda R. Romero (2013)</li>
									<ul class="LiDistintoModulosRespuestasInfor">
										<li>
											Ingeniera en Sistemas de Información
										</li>
										<li>
											Facebook: <a href="https://www.facebook.com/gil2r" target="_blanck">www.facebook.com/gil2r</a>
										</li>
										<li>
											Twitter: <a href="https://twitter.com/gil2rom" target="_blanck">@gil2rom</a>
										</li>
										<li>
											Linkedin: <a href="http://ar.linkedin.com/in/gildarromero/es" target="_blanck">gildarromero</a>
										</li>
										<li>
											Correo: Gilda.romero@gmail.com
										</li>
									</ul>
									<li>Luciano Escudero (2012 - 2013)</li>
									<ul class="LiDistintoModulosRespuestasInfor">
										<li>
											Licenciado en Sistemas
										</li>
										<li>
											Facebook: <a href="https://www.facebook.com/lucianomarcos.escudero" target="_blanck">www.facebook.com/lucianomarcos.escudero</a>
										</li>
										<li>
											Linkedin: <a href="http://ar.linkedin.com/pub/luciano-marcos-escudero/36/972/b74" target="_blanck">luciano-marcos-escudero</a>
										</li>
										<li>
											Correo: lucianomarcosescudero@gmail.com
										</li>
									</ul>
									<li>Darío Vallejos (2012 - 2013)</li>
									<ul class="LiDistintoModulosRespuestasInfor">
										<li>
											Ingeniero en Sistemas de Información
										</li>
										<li>
											Facebook: <a href="https://www.facebook.com/dariosantiago.vallejos" target="_blanck">www.facebook.com/dariosantiago.vallejos</a>
										</li>
										<li>
											Linkedin: <a href="http://ar.linkedin.com/in/3icdariovallejos" target="_blanck">dariovallejos</a>
										</li>
										<li>
											Correo: dario.vallejos@globant.com
										</li>
									</ul>
									<li>Gustavo Gimenez (2013)</li>
									<ul class="LiDistintoModulosRespuestasInfor">
										<li>
											Analista en Sistemas
										</li>
										<li>
											Facebook: <a href="https://www.facebook.com/gustavo.gimenez.31" target="_blanck">www.facebook.com/gustavo.gimenez.31</a>
										</li>
										<li>
											Correo: gustidg@gmail.com
										</li>
									</ul>
									<li>César Acuña (2012)</li>
									<li>Sergio Lapertosa (2012)</li>
									<li>Milagros Barrios (2012 - 2013)</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}