{% extends 'base.html' %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="/static/css/banners.css">
	<link rel="stylesheet" type="text/css" href="/static/css/homeInformatorio.css">
	<style type="text/css">
		#barritaIndicadora{
			width: 0px;
			left: 0px;
		}
	</style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<!--<script type="text/javascript" scr="/static/js/homeInformatorio.js"></script>-->
	<script type="text/javascript">
		function initialize() {
			var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
			var mapOptions = {
			  	zoom: 4,
			    center: myLatlng,
			    mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(document.getElementById('mapaInformatorio'), mapOptions);

			var marker = new google.maps.Marker({
			    position: myLatlng,
			    map: map,
			    title: 'Informatorio'
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

{% endblock %}

{% block contenido %}
	<div id="contTituloInformatorio">
		<div id="imgMouse">
			<img src="/static/img/raton.jpg">
		</div>
		<div id="tituloInformatorio">
			<div id="informatorio">INFORMATORIO</div>
			<div id="sloganInformatorio"><em>Hacia una mejor industria informática</em></div>
		</div>
	</div>
	<div id="contInfoInformatorio">
		<div id="mapaUbicacionInformatorio">
			<div id="mapaInformatorio"></div>
		</div>
		<div id="informacionInformatorio">
			<div id="informacionIzqInformatorio">
				<div class="informacionIzqInformatorio">
					<div id="emailInformatorio"></div>
					<div class="textoInformacionInformatorio">InformatorioChaco@gmail.com</div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="faceInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="https://www.facebook.com/prog.ssich?hc_location=stream" target="_blanck">/InformatorioChaco</a></div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="twitInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="https://www.twitter.com" target="_blanck">@InformatorioChaco</a></div>
				</div>
				<div class="informacionIzqInformatorio">
					<div id="rssInformatorio"></div>
					<div class="textoInformacionInformatorio"><a href="#">/InformatorioChaco</a></div>
				</div>
			</div>
			<div id="informacionIzqInformatorio">
				<div class="informacionIzqInformatorio">
					<div id="dirInformatorio"></div>
					<div class="textoInformacionInformatorio">A. Frondizi Nº 178 - 4to Piso</div>
				</div>
				
			</div>
		</div>
	</div>
	<div>
		<aside class='banners'>
			{% include 'banners.html' %}
		</aside>
	</div>
{% endblock %}