<!DOCTYPE html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			
			<title>NeaTics.com.ar</title>
			
			<link rel="stylesheet" href="/../static/css/home-squares-animation.css">
			<link rel="stylesheet" href="/../static/css/index.css">

			<link rel="stylesheet" href="/../static/css/bootstrap.css">
			<link rel="stylesheet" href="/../static/css/carousel.css">
			
			<link rel="stylesheet" href="/../static/css/footer.css">
			<link rel="stylesheet" href="/../static/css/eventos.css">
			
			<link rel="stylesheet" type="text/css" href="/../static/css/infomacionHome.css">
			
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="/../static/js/bootstrap.js"></script>
			<script src="/../static/js/home-squares-animation.js"></script>
			<script src="/../static/js/sliderFooterHome.js"></script>
			
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=169233136600400";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<header>
			<div class="containerHeader">
				<div id="squares-wrapper"></div>
				<div id="headerDerecho">	
					<div id="barraHeader">
						<ul>
							<li><a href="#"><span id="icoLenguaje">&nbsp;</span>Idiomas</a></li>
							|
							<li><a href="#"><span id="icoUser">&nbsp;</span>Iniciar</a></li>
						</ul>
					</div>
					<div id="menuPerfil">
						<ul>
							<li><a href="#">Empresa</a></li>
							<li><a href="#">Desarrollador</a></li>
							<li><a href="#">Estudiante</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		
		<nav>
			<div class="container">
				<ul>
					<li>
						<a href="" title="">Inicio</a>
					</li>
					| 
					<li>
						<a href="" title="">Acerca de</a>
					</li>
					| 
					<li>
						<a href="" title="">Noticias</a>
					</li>
					|
					<li>
						<a href="" title="">Eventos</a>
					</li>
					|
					<li>
						<a href="" title="">Instituciones</a>
					</li>
					|
					<li>
						<a href="" title="">Empresas</a>
					</li>
					|
					<li>
						<a href="" title="">Carreras TICS</a>
					</li>
					|
					<li>
						<a href="" title="">Emprendedores</a>
					</li>
					|
					<li>
						<a href="" title="">Informatorio</a>
					</li>
					|
					<li>
						<a href="" title="">Bolsa de trabajo</a>
					</li>
				</ul>
			</div>
		</nav>
		
		<div id="wrapper">
			<div class="container">
				<div id="quebuscas">
					<form id="queBuscas" action="#" method="">
						<label for="">¿QUE ESTÁS BUSCANDO?</label><br>
						<input type="text"/>						
					</form>
				</div>
				<div id="sliderPrincipal">
					<div id="myCarousel" class="carousel slide">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1" class=""></li>
							<li data-target="#myCarousel" data-slide-to="2" class=""></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<img src="/../static/img/imgSliders/img1.jpg" alt="">
								<div class="carousel-caption">
									<h4>First Thumbnail label</h4>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								</div>
							</div>
							<div class="item">
								<img src="/../static/img/imgSliders/img2.jpg" alt="">
								<div class="carousel-caption">
									<h4>Second Thumbnail label</h4>
									<p>Cras justo odio, dapibus ac facilisis in, egestas </p>
								</div>
							</div>
							<div class="item">
								<img src="/../static/img/imgSliders/img3.jpg" alt="">
								<div class="carousel-caption">
									<h4>Third Thumbnail label</h4>
									<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
					  </div>
				</div>
				
				<aside id="sidebar">
					
				</aside>
				
				<section id="noticias">
					<div id="contenedorInfos">
						<div id="tituloInfo">
							<div id="iconoTituloInfo">
								<img src="../static/img/iconoTituloInfo.png">
							</div>
							<div>
								<h1 id="textTituloInfo">NOTICIAS</h1>
							</div>
						</div>
						<div class="contenedorNoticia">
							<div class="tituloNotica">
								<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94266/el-dia-mas-frio-de-agosto-dejo-su-marca-con-heladas-en-varios-puntos-de-la-provincia" target="_blanck">
									El día más frío de agosto dejó su marca con heladas en varios puntos de la provincia
								</a>
							</div>
							<div class="imgNoticia">
								<img whith="250px" height="150px" src="../static/img/imgEjemploInfo/info1.jpg">
							</div>
							<div class="contenedorTextoNoticia">
								<p class="textoNoticia">Los 2.6°C bajo cero en Resistencia a las 7.30 de la mañana y los 3.4°C bajo cero de Sáenz Peña a las 8, fueron las temperaturas mínimas más frías registradas en el mes de agosto. Julio sigue teniendo en su marca el día más frío del año con una mínima de 3°C bajo cero el martes 23 en la capital chaqueña y 5.8 °C bajo cero ese mismo día en la termal.</p>
							</div>
						</div>
						<div class="contenedorNoticia">
							<div class="tituloNotica">
								<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94265/malestar-de-vecinos-por-la-proliferacion-de-basurales-espontaneos-en-barrios-de-la-ciudad%EF%BB%BF" target="_blanck">
									Malestar de vecinos por la proliferación de basurales espontáneos en barrios de la ciudad
								</a>
							</div>
							<div class="imgNoticia">
								<img whith="250px" height="150px" src="../static/img/imgEjemploInfo/info2.jpg">
							</div>
							<div class="contenedorTextoNoticia">
								<p class="textoNoticia">SAENZ PEÑA (Agencia) - Los vecinos del barrio Solidario se comunicaron con NORTE para exponer un lamentable hecho que se registra en este sector de la ciudad, relacionado a la aparición de un nuevo basural espontáneo. Según la denuncia hecha a este diario, “hay autos y camionetas nuevas que vienen del centro y arrojan sus bolsas de basura, como si fuera tierra de nadie”.</p>
							</div>
						</div>
						<div class="contenedorNoticia">
							<div class="tituloNotica">
								<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94257/tras-el-fallo-adverso-argentina-buscara-reabrir-por-tercera-vez-el-canje-de-la-deuda" target="_blanck">
									Tras el fallo adverso Argentina buscará reabrir por tercera vez el canje de la deuda
								</a>
							</div>
							<div class="imgNoticia">
								<img whith="250px" height="150px" src="../static/img/imgEjemploInfo/info3.jpg">
							</div>
							<div class="contenedorTextoNoticia">
								<p class="textoNoticia">El gobierno argentino enviará un proyecto de ley al Congreso para reabrir por tercera vez el canje de deuda, luego del fallo adverso de la Justicia norteamericana por la demanda de fondos buitre, y a la vez reemplazará bonos emitidos bajo legislación de Estados Unidos por otros con normativa local, para evitar posibles embargos</p>
							</div>
						</div>
					</div>
					
					<div id="contenedor">
						<div id="logo">
							<div class="d">
								<img src="img/e.png">
							</div>
							<div class="d">
								<h1 class="eve"> Eventos</h1>
							</div>
						</div>
						<div id="eventos">
							<div id="conevento">
								<a hrf="">
									<div class="imagen">
										<img src="img/a.jpg">
									</div>
									<div class="titulo">
										Titulo del evento
									</div>
									<div class="texto">
										<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
										Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.</p>
									</div>
								</a>
							</div>
							<div id="conevento">
								<a hrf="">
									<div class="imagen">
										<img src="img/b.jpg">
									</div>
									<div class="titulo">
										Titulo del evento
									</div>
									<div class="texto">
										<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
										Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.
										</p>
									</div>
								</a>
							</div>
							<div id="conevento">
								<a hrf="">
									<div class="imagen">
										<img src="img/c.png">
									</div>
									<div class="titulo">
										Titulo del evento
									</div>
									<div class="texto">
										<p>LAN tiene que hacer un desalojo voluntario y si no lo hacen tendremos que ir a la Justicia y eso también lleva su tiempo", reconoció Lipovich.
										Sabía que podía volver, que la cárcel era nuevamente una chance. El lunes 12 por la mañana, Fernando Carrera recibió la noticia, pero tardó en absorberla. Caminó unas cuadras, hizo las compras del día y regresó a su casa. Ahí, se sentó frente a su mujer, Guadalupe Maidana, y enmudeció, un shock demorado.
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					
				</section>
				
			</div>
		</div>
		
		<div id="contenedorRedesSociales">
			<div class="contenedorFace">
				<div id="contenedorPrincipalfacebook">
					<div id="tituloFace">
						<div id="imgFace"></div>
						<h2 id="textFaceTitulo">Facebook</h2>
					</div>
					<div id="contenidoFace">
						<div class="fb-like-box" data-href="https://www.facebook.com/NeaTics" data-width="300" data-height="350" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
					</div>
				</div>
			</div>
			<div class="contenedorTwit">
				<div id="contenedorPrincipalTwit">
					<div id="tituloTwit">
						<div id="imgTwit"></div>
						<h2 id="textTwitTitulo">Twitter</h2>
					</div>
					<div id="contenidoTwit">
						<a class="twitter-timeline" href="https://twitter.com/NeaTics" data-widget-id="372507532889038848">Tweets por @NeaTics</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
		</div>
		
		<div>
			<div id='banner-logo'>
	            <div id='logos'>
	                <div id='utn' class='logo'>&nbsp;</div>
	                <div id='ssich' class='logo'>&nbsp;</div>
	                <div id='polo' class='logo'>&nbsp;</div>
	                <div id='utn' class='logo'>&nbsp;</div>
	                <div id='utn' class='logo'>&nbsp;</div>
	            </div>
	        </div>
	    </div>
		
		<footer>
			<div id="footer">
				<div id="mapa_sitio">
					<div>
						<ul>
							<li class="header">Menu</li>
							<li>
								<a href="#">- submenu1</a>
							</li>
							<li>
								<a href="#">- submenu2</a>
							</li>
							<li>
								<a href="#">- submenu3</a>
							</li>
							<li>
								<a href="#">- submenu4</a>
							</li>
						</ul>
					</div>

					<div>
						<ul>
							<li class="header">Menu</li>
							<li>
								<a href="#">- submenu1</a>
							</li>
							<li>
								<a href="#">- submenu2</a>
							</li>
							<li>
								<a href="#">- submenu3</a>
							</li>
							<li>
								<a href="#">- submenu4</a>
							</li>
						</ul>
					</div>

					<div>
						<ul>
							<li class="header">Menu</li>
							<li>
								<a href="#">- submenu1</a>
							</li>
							<li>
								<a href="#">- submenu2</a>
							</li>
							<li>
								<a href="#">- submenu3</a>
							</li>
							<li>
								<a href="#">- submenu4</a>
							</li>
						</ul>
					</div>

					<div>
						<ul>
							<li class="header">Menu</li>
							<li>
								<a href="#">- submenu1</a>
							</li>
							<li>
								<a href="#">- submenu2</a>
							</li>
							<li>
								<a href="#">- submenu3</a>
							</li>
							<li>
								<a href="#">- submenu4</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div id="logos_redes">
					<div class="cincuenta">
						<div id="face">&nbsp;</div>
						<div id="tw">&nbsp;</div>
					</div>
					<div class="cincuenta">
						<div id="rss">&nbsp;</div>
						<div id="email">&nbsp;</div>
					</div>				
				</div>
			</div>
		</footer>
	</body>
</html>
