{# <link rel="stylesheet" type="text/css" href="/static/css/infomacionHome.css"> #}

<div id="contenedorInfos">
	<div id="tituloInfo">
		<div id="iconoTituloInfo">
			<img src="/static/img/iconoTituloInfo.png">
		</div>
		<div>
			<h1 id="textTituloInfo">NOTICIAS</h1>
		</div>
	</div>
	<div class="contenedorNoticia">
		<div class="tituloNotica">
			<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94266/el-dia-mas-frio-de-agosto-dejo-su-marca-con-heladas-en-varios-puntos-de-la-provincia" target="_blanck">
				El día más frío de agosto dejó su marca con heladas en varios puntos de la provincia
			</a>
		</div>
		<div id="separadorTitulo"></div>
		<div class="imgNoticia">
			<img whith="245px" height="145px" src="/static/img/imgEjemploInfo/info1.jpg">
		</div>
		<div class="contenedorTextoNoticia">
			<p class="textoNoticia">Los 2.6°C bajo cero en Resistencia a las 7.30 de la mañana y los 3.4°C bajo cero de Sáenz Peña a las 8, fueron las temperaturas mínimas más frías registradas en el mes de agosto. Julio sigue teniendo en su marca el día más frío del año con una mínima de 3°C bajo cero el martes 23 en la capital chaqueña y 5.8 °C bajo cero ese mismo día en la termal.</p>
			<a class="leerMasInfo" href="http://www.diarionorte.com/article/94266/el-dia-mas-frio-de-agosto-dejo-su-marca-con-heladas-en-varios-puntos-de-la-provincia" target="_blanck">Leer más...</a>
		</div>
	</div>
	<div class="contenedorNoticia">
		<div class="tituloNotica">
			<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94265/malestar-de-vecinos-por-la-proliferacion-de-basurales-espontaneos-en-barrios-de-la-ciudad%EF%BB%BF" target="_blanck">
				Malestar de vecinos por la proliferación de basurales espontáneos en barrios de la ciudad
			</a>
		</div>
		<div id="separadorTitulo"></div>
		<div class="imgNoticia">
			<img whith="245px" height="145px" src="/static/img/imgEjemploInfo/info2.jpg">
		</div>
		<div class="contenedorTextoNoticia">
			<p class="textoNoticia">SAENZ PEÑA (Agencia) - Los vecinos del barrio Solidario se comunicaron con NORTE para exponer un lamentable hecho que se registra en este sector de la ciudad, relacionado a la aparición de un nuevo basural espontáneo. Según la denuncia hecha a este diario, “hay autos y camionetas nuevas que vienen del centro y arrojan sus bolsas de basura, como si fuera tierra de nadie”.</p>
			<a class="leerMasInfo" href="http://www.diarionorte.com/article/94265/malestar-de-vecinos-por-la-proliferacion-de-basurales-espontaneos-en-barrios-de-la-ciudad%EF%BB%BF" target="_blanck">Leer más...</a>
		</div>
	</div>
	<div class="contenedorNoticia">
		<div class="tituloNotica">
			<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94257/tras-el-fallo-adverso-argentina-buscara-reabrir-por-tercera-vez-el-canje-de-la-deuda" target="_blanck">
				Tras el fallo adverso Argentina buscará reabrir por tercera vez el canje de la deuda
			</a>
		</div>
		<div id="separadorTitulo"></div>
		<div class="imgNoticia">
			<img whith="245px" height="145px" src="/static/img/imgEjemploInfo/info3.jpg">
		</div>
		<div class="contenedorTextoNoticia">
			<p class="textoNoticia">El gobierno argentino enviará un proyecto de ley al Congreso para reabrir por tercera vez el canje de deuda, luego del fallo adverso de la Justicia norteamericana por la demanda de fondos buitre, y a la vez reemplazará bonos emitidos bajo legislación de Estados Unidos por otros con normativa local, para evitar posibles embargos</p>
			<a class="leerMasInfo" href="http://www.diarionorte.com/article/94257/tras-el-fallo-adverso-argentina-buscara-reabrir-por-tercera-vez-el-canje-de-la-deuda" target="_blanck">Leer más...</a>
		</div>
	</div>
	<div class="contenedorNoticia">
		<div class="tituloNotica">
			<a class="textTituloNoticia" href="http://www.diarionorte.com/article/94373/suman-11-los-muertos-por-descarrilamiento-de-tren-la-bestia-" target="_blanck">
				Suman 11 los muertos por descarrilamiento de tren “La Bestia”
			</a>
		</div>
		<div id="separadorTitulo"></div>
		<div class="imgNoticia">
			<img whith="245px" height="145px" src="/static/img/imgEjemploInfo/info4.jpg">
		</div>
		<div class="contenedorTextoNoticia">
			<p class="textoNoticia">Asciende a once el número de muertos en el accidente ferroviario, del domingo pasado, por el descarrilamiento del tren “La Bestia”, en el estado de Tabasco, México.</p>
			<a class="leerMasInfo" href="http://www.diarionorte.com/article/94373/suman-11-los-muertos-por-descarrilamiento-de-tren-la-bestia-F" target="_blanck">Leer más...</a>
		</div>
	</div>
	<div id="contVerMasInfos">
		<h2><a id="verMasInfos" href="{% url 'template' 'noticias' %}">Ver m&aacute;s</a></h2>
	</div>
</div>