<nav>
	<div class="containerNav">
		<ul>
			<li>
				<a href="{% url 'template' 'home' %}" title="">Inicio</a>
			</li>
			| 
			<li >
				<a href="#" title="">Acerca de</a>
			</li>
			| 
			<li>
				<a href="{% url 'template' 'noticias' %}" title="">Noticias</a>
			</li>
			|
			<li>
				<a href="{% url 'template' 'eventosGral' %}" title="">Eventos</a>
			</li>
			|
			<li>
				<a href="#" title="">Ministerio</a>
			</li>
			|
			<li>
				<a href="#" title="">Emprendedores</a>
			</li>
		</ul>
	</div>
	<div id="contBarritaIndicadora">
		<div id="barritaIndicadora"></div>
	</div>
</nav>