<nav>
	<div class="containerNav">
		<ul>
			<li>
				<a id="menuInicio" href="#" title="">Inicio</a>
			</li>
			| 
			<li >
				<a id="menuAcercaDe" href="#" title="">Acerca de</a>
			</li>
			| 
			<li>
				<a id="menuNoticias" href="#" title="">Noticias</a>
			</li>
			|
			<li>
				<a id="menuEventos" href="#" title="">Eventos</a>
			</li>
			|
			<li>
				<a id="menuMinisterio" href="#" title="">Ministerio</a>
			</li>
			|
			<li>
				<a id="menuEmprendedores" href="#" title="">Emprendedores</a>
			</li>
		</ul>
	</div>
	<div id="contBarritaIndicadora">
		<div id="barritaIndicadora"></div>
	</div>
</nav>