<nav>
	<div class="container">
		<ul>
			<li>
				<a href="" title="">Inicio</a>
			</li>
			| 
			<li>
				<a href="" title="">Acerca de</a>
			</li>
			| 
			<li>
				<a href="" title="">Noticias</a>
			</li>
			|
			<li>
				<a href="" title="">Eventos</a>
			</li>
			|
			<li>
				<a href="" title="">Instituciones</a>
			</li>
			|
			<li>
				<a href="" title="">Empresas</a>
			</li>
			|
			<li>
				<a href="" title="">Carreras TICS</a>
			</li>
			|
			<li>
				<a href="" title="">Emprendedores</a>
			</li>
			|
			<li>
				<a href="" title="">Informatorio</a>
			</li>
			|
			<li>
				<a href="" title="">Bolsa de trabajo</a>
			</li>
		</ul>
	</div>
</nav>