{% extends 'base.html' %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="/static/css/infomacionHome.css">
	<link rel="stylesheet" type="text/css" href="/static/css/banners.css">
	<script type="text/javascript" src="/static/js/banners.js"></script>
	<style type="text/css">
		#barritaIndicadora{
			width: 78px;
			left: 384px;
		}
	</style>
{% endblock %}

{% block contenido %}
	<div id="wrapper">
		<aside class='banners'>

			{% include 'banners.html' %}

		</aside>
		<div class="container">


			<section id="noticias">

				{% include 'infos.html' %}
		</div>
	</div>
 {% endblock %}