{% extends "base.html" %}
{% block extra_head %}
	<script src='/static/js/slidertext.js'></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#slide1').data("slider")($('#slide1'));
	})
	</script>
{% endblock extra_head %}
{% block contenido %}
	<div id='slide1' class="slidertext">
		<div class="feature">
			<div class="title">asdads</div>
			<div class="content">asdasd</div>
		</div>
		<div class="feature">
			<div class="title">14143</div>
			<div class="content">12312321x</div>
		</div>
		<div class="feature">
			<div class="title">:)</div>
			<div class="content">:O</div>
		</div>
	</div>
	<div id='slide2' class="slidertext">
		<div class="feature">
			<div class="title">asdads</div>
			<div class="content">asdasd</div>
		</div>
		<div class="feature">
			<div class="title">14143</div>
			<div class="content">12312321x</div>
		</div>
		<div class="feature">
			<div class="title">:)</div>
			<div class="content">:O</div>
		</div>
	</div>
{% endblock contenido %}